.editor-container {
  margin: 1rem;
}

.fake-textarea {
  border: 1px solid #d0d4e4;
  border-radius: 8px;
  padding: 0.75rem;
  color: #888;
  cursor: text;

  &:hover {
    background-color: #f8f9fb;
  }
}

.rich-editor {
  border: 1px solid #0073ea;
  border-radius: 8px;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .toolbar {
    display: flex;
    gap: 4px;
    padding: 8px;
    background-color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    z-index: 2;

    button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.15s;

        &:hover {
            background-color: #f5f6f8;
        }
    }
  }

  .editable {
    min-height: 100px;
    padding: 0.5rem 0;
    outline: none;
  }

  .bottom-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mention {
      font-size: 0.85rem;
      color: #777;
    }

    .submit-btn {
      background: #0073ea;
      color: white;
      padding: 0.4rem 1rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 500;

      &:hover {
        background: #005bb5;
      }
    }
  }
}

.updates-list {
  margin: 1rem;
  flex-grow: 1;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .update-item {
      padding: 16px;
      font-size: 0.95rem;
      border: 1px solid #d0d4e4;
      border-radius: 8px;
      margin-bottom: 20px;

  .update-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;

     .update-delete-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;


    &:hover {  
      background-color: #6768791a;       // red on hover
    }
  }

    // 👇 Wrap author + avatar together
    .update-author-container {
      display: flex;
      align-items: center;
      gap: 8px;
      

      .update-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .update-author {
        color: #323338;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .update-date {
      font-size: 14px;
      color: #676879;
    }
  }

  .update-content {
    color: #323338;
    line-height: 1.4;
    white-space: pre-wrap;
  }
}
}
.no-updates {
    display: grid;
    justify-items: center;
    text-align: center;
}
}
