.sidebar-favorites {
    padding: 4px 12px;

  .section-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    transition: background 0.2s;


    .btn-favorite-icon {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
      font-size: 14px;
      letter-spacing: 0.5px;
      flex-grow: 1;
    }

    .chevron {
      margin-left: auto;
    }
  }

  .empty-msg {
    font-size: 13px;
    color: #a1a1aa;
    padding: 16px;
    text-align: center;

    .bold {
      font-weight: 600;
      color: #323338;
      margin-bottom: 4px;
      display: block;
    }
  }

}