.user-msg-wrapper {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

.user-msg {
    display: flex;
    align-items: center;
    gap: 16px;
    
    font-size: 14px;
    padding: 8px;
    margin: 16px 0px;
    min-width: 200px;
    width: auto;
    border-radius: 4px;
    font-family: 'Figtree';
    color: white;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
   
}

.user-msg.visible {
    opacity: 1;
    animation: slideInDown 0.5s ease forwards;
}

.user-msg.success {
    background-color: #00854d;
}

.user-msg.error {
    background-color: #e2445c;
}

.icon {
    display: flex;
    align-items: center;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 24px;
}

.text-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.close-btn-msg {
    background: transparent;
    border: none;
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
        height: 20px;
        width: 20px;
    }
 }
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}