.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  object-fit: cover;
}

.fallback-avatar {
  background-color: #c5c5c5;
  color: white;
}