.priority-distribution-container {
     position: relative;
     display: flex;
     height: 24px;
     width: 100%;
     margin: 0 8px 0 8px;
     cursor: pointer;

     .priority-segment {
         position: relative;
         transition: height 0.2s ease;

        &:hover {
             border-radius: 2px;
             height: 30px;
             margin-top: -4px;
             margin-bottom: -4px;
        }
        .tooltip {
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #323338;
            color: #fff;
            padding: 10px;
            border-radius: 4px;
            font-family: 'Figtree';
            font-size: 14px;
            white-space: nowrap;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            z-index: 10;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-width: 6px;
                border-style: solid;
                border-color: #323338 transparent transparent transparent;
           }
       }
    } 
}