* {
    box-sizing: border-box;
}

html {
    font-size: rem(16px);
}
    
body {
    margin: 0 auto;
    padding: 0;
    font-family: FigtreeRegular, RobotoRegular, sans-serif;
    color: #323338;
    overflow: hidden;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em;
    font-family: FigtreeRegular, RobotoRegular, sans-serif;
    color: #323338;

}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}


pre {
    white-space: pre-wrap;
}