
.main-container {
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    
    > * { grid-column: 2; }
    > *.full { grid-column: 1 / -1; }
}

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    .app-header { 
        position: sticky;
         top: 0; 
         z-index: 200; 
        }

    .app-body {     
        display: flex;
        flex: 1;
        background-color: #eceff8;

        .separation {
        width: 38px;
        height: 100vh;
        background-color: #ffffff;
       }
    }

    .main-content { 
        flex: 1; 
        min-width: 0;
        transition: margin-left 0.3s; 
        background-color: #ffffff;

    }

}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}