.board-details {
    position: relative;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition: margin-right 0.3s ease;

     &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            background-color: #fff;
        }

        &::-webkit-scrollbar-thumb {
            background: #C3C6D4;
        }

    &.with-modal {
        margin-right: 570px;
    }

    .board-header {
        position: sticky;
        top: 0;
        z-index: 100;
        background: white;
    }

    .board-table-container {
        flex: 1;

    }
}

