.filter-popover {
    position: fixed;
    top: 190px;
    left: 761px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    padding: 0;
    font-family: inherit;
    pointer-events: auto;
    overflow: visible;
    border: 1px solid #e0e1e3;
   

  .filter-popover-header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 16px 24px 0;
    justify-content: space-between;


    .title {
    font-weight: 500;
    font-size: 16px;
    font-family: Figtree, Roboto, sans-serif;
    color:#323338;
    margin-right: 8px;
  }
  .subTitle{
    font-weight: 300;
    font-size: 14px;
    font-family: Figtree, Roboto, sans-serif;
    color:#323338;
  }

  .filter-popover-clear-all {
    height: 32px;
    line-height: 24px;
    font-family: Figtree, Roboto, sans-serif;
    color:#323338;
    font-size: 14px;
    cursor: pointer;

     &:hover {
      border-radius: 4px;
      background: #e8e8ee;
    }
  }
  }



  .filter-popover-content {
        margin-top: 24px;
    padding: 0 24px 16px;

.filter-row-container{
    display: grid;
    grid-template-columns: 80px auto;
    gap: 8px;
    margin-bottom: 8px;

  .filter-where-label {
     font-size: 14px;
    color: #323338;
    margin-top: 10px;
  }

   .filter-row {
    display: grid;
    grid-template-columns: 175px 146px 233px 36px;
    border-radius: 8px;
    gap: 8px;

    .filter-field-selector,
  .filter-condition-selector,
  .filter-value-selector {
    flex: 1;
  }

  .filter-select {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border-radius: 6px;
    border: 1px solid #e0e1e3;
    font-size: 14px;
    background: #fff;
    color: #323338;
    transition: border 0.15s;
    appearance: none;
    outline: none;
    cursor: pointer;

    &:focus {
      border: 1.5px solid #0073ea;
      box-shadow: 0 0 0 2px #eaf4ff;
    }

    &:disabled {
      background: #f8f9fa;
      color: #888;
      cursor: not-allowed;
    }

    option {
      padding: 8px;
    }
  }

  .filter-remove-btn {
    color: #888;
    cursor: pointer;
    font-size: 22px;
  }

  }
}
 
  .filter-add-more {
    padding: 4px 8px;
    height: 32px;
    line-height: 24px;
    font-family: Figtree, Roboto, sans-serif;
    color:#323338;
    font-size: 14px;
    cursor: pointer;
    margin-top: 16px;
    &:hover {
      border-radius: 4px;
      background: #e8e8ee;
    }
  }
    }
} 