@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(../../assets/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url(../../assets/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url(../../assets/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url(../../assets/fonts/Poppins/Poppins-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Figtree';
  src: url(../../assets/fonts/Figtree/Figtree-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Figtree';
  src: url(../../assets/fonts/Figtree/Figtree-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Figtree';
  src: url(../../assets/fonts/Figtree/Figtree-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Figtree';
  src: url(../../assets/fonts/Figtree/Figtree-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Figtree';
  src: url(../../assets/fonts/Figtree/Figtree-Bold.ttf);
  font-weight: 700;
}

/* Font Awesome */
@font-face {
  font-family: 'FontAwesomeRegular';
  src: url(../../assets/fonts/fa/fa-regular-400.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'FontAwesomeSolid';
  src: url(../../assets/fonts/fa/fa-solid-900.ttf);
  font-weight: 900;
}
