@font-face {
  font-family: RobotoRegular;
  src: url(src/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(src/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(src/assets/fonts/Poppins/Poppins-Bold.ttf) ;
}

@font-face {
  font-family: PoppinsMedium;
  src: url(src/assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(src/assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(src/assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: FigtreeLight;
  src: url(src/assets/fonts/Figtree/Figtree-Light.ttf);
}

@font-face {
  font-family: FigtreeRegular;
  src: url(src/assets/fonts/Figtree/Figtree-Regular.ttf) ;
}

@font-face {
  font-family: FigtreeBold;
  src: url(src/assets/fonts/Figtree/Figtree-Bold.ttf);
}

@font-face {
  font-family: FigtreeSemiBold;
  src: url(src/assets/fonts/Figtree/Figtree-SemiBold.ttf);
}

@font-face {
  font-family: FigtreeMedium;
  src: url(src/assets/fonts/Figtree/Figtree-Medium.ttf);
}


@font-face {
  font-family: faRegular;
  src: url(src/assets/fonts/fa/fa-regular-400.ttf);
}

@font-face {
  font-family: faSolid;
  src: url(src/assets/fonts/fa/fa-solid-900.ttf);
}
